<div class="card">
  <div class="card-body">
    <div *ngIf="messages.length === 0">
      <h4>No messages yet, but hey, no news is good news!</h4>
      <p>Maybe you're just too popular and everyone's speechless.</p>
    </div>

    <ul *ngIf="messages.length > 0" class="chat">
      <li *ngFor="let message of messages">
        <!-- Verifica que el senderUsername no sea igual al username del perfil -->
        <ng-container *ngIf="message.senderUsername !== username">
          <div>
            <span class="chat-img float-end">
              <img class="rounded-circle" src="{{message.senderPhotoUrl || '../../../../../assets/user.png'}}" alt="Sender Photo">
            </span>
          </div>
          <div class="chat-body">
            <div class="header">
              <small class="text-muted">
                <span class="fa fa-clock-o">{{message.messageSend | timeago}}</span>
                <span class="text-danger" *ngIf="!message.dateRead && message.senderUsername !== username">(unread)</span>
                <span class="text-success" *ngIf="message.dateRead && message.senderUsername !== username">(read {{message.dateRead  | timeago}})</span>
              </small>
            </div>
            <p>{{message.content}}</p>
          </div>
        </ng-container>
      </li>
    </ul>
  </div>
</div>


<div class="card-footer">
  <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
    <div class="input-group">
      <input name="messageContent" required [(ngModel)]="messageContent" type="text" class="form-control input-sm" placeholder="Send a private message">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit" [disabled]="!messageForm.valid">Send</button>
      </div>
    </div>
  </form>
</div>
