<div class="row" *ngIf="member">
  <div class="col-6 col-md-4 col-lg-3 mb-3" *ngFor="let photo of member.photos">
    <div class="card">
      <img src="{{photo.url}}" alt="photo of {{member.knownAs}}" class="card-img-top img-thumbnail" style="height: 200px; object-fit: cover;">
      <div class="card-body text-center">
        <button [disabled]="photo.isMain" class="btn btn-sm btn-success me-1" (click)="setMainPhoto(photo)">
          <i class="fa fa-star"></i> Main
        </button>
        <button [disabled]="photo.isMain" class="btn btn-sm btn-danger" (click)="deletePhoto(photo.id)">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-3">
    <h3>Add Photos</h3>
    <div ng2FileDrop
         [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
         (fileOver)="fileOverBase($event)"
         [uploader]="uploader"
         class="card bg-faded p-3 text-center mb-3 my-drop-zone">
         <i class="fa fa-upload fa-3x"></i>
       Drop photos here
    </div>

    <div class="mb-3">
      <label for="multipleFiles" class="form-label">Multiple</label>
      <input type="file" ng2FileSelect [uploader]="uploader" multiple id="multipleFiles" class="form-control">
    </div>

    <div class="mb-3">
      <label for="singleFile" class="form-label">Single</label>
      <input type="file" ng2FileSelect [uploader]="uploader" id="singleFile" class="form-control">
    </div>
  </div>

  <div class="col-md-9" *ngIf="uploader.queue.length > 0">
    <h3>Upload Queue</h3>
    <p>Queue length: {{ uploader.queue.length }}</p>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader?.queue">
          <td><strong>{{ item?.file?.name }}</strong></td>
          <td>{{ item?.file?.size | bytes }}</td>
        </tr>
      </tbody>
    </table>

    <div class="mb-3">
      <div class="d-flex align-items-center">
        <div>Queue progress:</div>
        <div class="progress ms-3 flex-grow-1">
          <div class="progress-bar" role="progressbar" [style.width.%]="uploader.progress"></div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <button type="button" class="btn btn-success me-2" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        <i class="fa fa-upload"></i> Upload All
      </button>
      <button type="button" class="btn btn-warning me-2" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
        <i class="fa fa-ban"></i> Cancel All
      </button>
      <button type="button" class="btn btn-danger" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
        <i class="fa fa-trash"></i> Remove All
      </button>
    </div>
  </div>
</div>
